@model DATA.Modelos.Cidades
@Model cidades
@{
    ViewBag.Title = "Alterar - Cidade";
}
<head>
    <link href="~/Content/registrar.css" rel="stylesheet" />
</head>
<h2>@ViewBag.Title</h2>
<section id="inserircidade ">
   @using (Html.BeginForm())
   {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.codigo)
        @Html.HiddenFor(model => model.dtcad)
     
        <div class="tab-pane" id="contato-tab">
            <div class="CONT-LIST">
                @Html.LabelFor(model => model.cidade, htmlAttributes: new { @class = "COLUNA-lg-1 control-label" })
                <div class="COLUNA-lg-2">
                    @Html.EditorFor(model => model.cidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cidade, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "COLUNA-lg-1 control-label" })
                <div class="COLUNA-lg-2">
                    @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                </div>
                @Html.Label("Selecione o Estado", htmlAttributes: new { @class = "COLUNA-lg-1 control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("codigouf", new SelectList(ViewBag.estadolista, "codigo", "UF"))
                    @Html.ValidationMessageFor(model => model.codigouf)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="en-space-v-10">
            </div>
        </div>
        <div class="CONT-LIST">
            <a href="~/Cidade/editar" data-toggle="tab">
                <button><span class="state">Salvar alterações</span></button>
            </a>
        </div>
        <div class="row">
            <div class="en-space-v-10">
                <div class="en-space-v-10">
                </div>
                <div class="container">
                    <div class="alert alert-danger fade in " id="msgErroDiv" style="display: block;">
                        <div id="msgErro">@ViewBag.Message</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Retornar", "Index")
                    </div>
                </div>
            </div>
        </div>




    }
</section>
